body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #e0f2ff; /* Light blue background */
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Roboto, Arial, sans-serif;
  color: #2196F3; /* Primary - Blue */
}

#question-info, #feedback, #score {
  text-align: center;
  margin-top: 10px;
  font-family: Open Sans, sans-serif;
}

#question-info span {
  font-weight: bold;
  color: #FF9800; /* Accent - Orange */
}

#question {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
}

.answer-option {
  margin-bottom: 5px;
}

button {
  background-color: #4CAF50; /* Primary - Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out; /* Hover effect */
}

button:hover {
  background-color: #3e8e41; /* Darken primary color on hover */
}


#feedback, #score {
  text-align: center;
  margin-top: 10px;
}


#feedback {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.answer-option {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.answer-option.show {
  opacity: 1;
}

#question {
  animation: question-appear 1s ease-in-out;
}

@keyframes question-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
